#!/usr/bin/make -f

%:
	dh ${@} --with quilt

override_dh_auto_install:
	$(MAKE) install

	install -D img/icon.png debian/wmii/usr/share/icons/wmii.png

	rmdir debian/wmii/usr/include
	rmdir debian/wmii/usr/lib
