#!/usr/bin/make -f
include /usr/share/quilt/quilt.make

%:
	dh $@

clean: unpatch
build: patch

override_dh_compress:
	dh_compress -X.pdf

override_dh_auto_install:
	$(MAKE) install

	install -D img/icon.png debian/wmii/usr/share/icons/wmii.png

